click==7.1.2
fast-autocomplete==0.7.1
Flask==1.1.2
Flask-Cors==3.0.10
gensim==3.8.3
install==1.3.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
nltk==3.5
numpy==1.20.1
python-Levenshtein==0.12.2
regex==2020.11.13
scipy==1.6.1
six==1.15.0
smart-open==4.2.0
tqdm==4.59.0
Werkzeug==1.0.1
